.dashColor {
    color: green;
    font-family: 'IM Fell Great Primer', serif;
}

.dashColor2 {
    color: green;
    font-family: 'Special Elite', cursive;
}

.dashColor3 {
    color: green;
    font-family: 'Rancho', cursive;
}

.dashColor4 {
    color: green;
    font-family: 'Press Start 2P', cursive;
}

.visitedLinks {
    font-size: $l-size;
}

.gold {
    color: $pink;
}

.visitedLinks2 {
    color: red;
    font-size: $l-size;
}

.visitedLinks3 {
    color: $pink;
    font-size: $l-size;
}

.visitedLinks4 {
    color: burlywood;
    font-size: $l-size;
}